@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="col-md-4">
    <p>
        According to the Independent Book Publishers Association (IBPA), 200 million Americans say they want
        to write a book. That’s about two-thirds of the population. How many of us actually do that, though?
        Considering that 129 million books have been published, ever, the answer is: not many. It’s hard to
        know how to do it if you don’t know where to start. It’s easier if you have a plan… an outline.
    </p>
    <p>
        Outliner helps you build an outline for a plot-centered novel in an easy-to-follow Q&amp;A
        format. Add characters, scenes, and watch your story develop one line at a time
    </p>
    <p>Writing a novel? That's still hard. Everything else just got easier.</p>
    <h3><a href="~/Identity/Account/Register">Get started.</a></h3>
</div>
